// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome-info{
  height: 400px;
  width: 400px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  padding: 100px 20px;
  align-self: center;
  text-align: center;
}

h1{
  font-family: monospace;
}

p{
  font-size: 1.3rem;
  font-family: monospace;
  line-height: 2em;
}
